<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469015132841-5codakist6c6q2vtcnnfq05pg1k61iph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469015132841-5codakist6c6q2vtcnnfq05pg1k61iph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469015132841-dpj53p44nusu2v1rv39s80n3rcu3jbd4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ-N0AXXXIWR7fk9ztLRdLYzfvbgBn7q0</string>
	<key>GCM_SENDER_ID</key>
	<string>469015132841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vk.flnotif</string>
	<key>PROJECT_ID</key>
	<string>devsproject-15c7d</string>
	<key>STORAGE_BUCKET</key>
	<string>devsproject-15c7d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469015132841:ios:1c5aae9a0672e853dc07b8</string>
	<key>DATABASE_URL</key>
	<string>https://devsproject-15c7d.firebaseio.com</string>
</dict>
</plist>